---
import AnimatedSection from "./AnimatedSection.astro"

const logos = [
  {
    src: "/icons/coop_internacional_dark.svg",
    alt: "Cooperación Internacional"
  },
  {
    src: "/icons/t_oigo.svg",
    alt: "T-Oigo"
  },
  {
    src: "/icons/gaes.svg",
    alt: "Fundación"
  }
];
---

<AnimatedSection>
  <section class="py-20 md:py-20 bg-white">
    <div class="max-w-7xl mx-auto px-4 md:px-16">
      <p class="text-center text-body-1 text-black/55 mb-8">
        Con la colaboración de
      </p>
      <div class="flex flex-wrap items-center justify-center gap-6 opacity-50">
        {logos.map(logo => (
          <div class="flex items-center justify-center p-4 h-[84px]">
            <img
              src={logo.src}
              alt={logo.alt}
              class="h-full w-auto object-contain"
            />
          </div>
        ))}
      </div>
    </div>
  </section>
</AnimatedSection>
