---
import AnimatedSection from "./AnimatedSection.astro"
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const logos = [
  {
    src: "/icons/coop_internacional_dark.svg",
    alt: t('logos.coop.alt')
  },
  {
    src: "/icons/t_oigo.svg",
    alt: t('logos.toigo.alt')
  },
  {
    src: "/icons/gaes.svg",
    alt: t('logos.gaes.alt')
  }
];
---

<AnimatedSection>
  <section class="py-20 md:py-20 bg-white">
    <div class="max-w-7xl mx-auto px-4 md:px-16">
      <p class="text-center text-body-1 text-black/55 mb-8">
        {t('logos.title')}
      </p>
      <div class="flex flex-wrap items-center justify-center gap-6 opacity-50">
        {logos.map(logo => (
          <div class="flex items-center justify-center p-4 h-[84px]">
            <img
              src={logo.src}
              alt={logo.alt}
              class="h-full w-auto object-contain"
            />
          </div>
        ))}
      </div>
    </div>
  </section>
</AnimatedSection>
